{% extends 'base.html.twig' %}

{% block title %}Create Exam Result{% endblock %}

{% block body %}
    <h1>Create Exam Result</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
